<section id="about" class="text-center d-flex flex-row">
  <section class="color_b about_s">
    <h1>Acerca de mi</h1>
    <div class="about_p">
      <p>Me encuentro en formación constante, especializado en la creación y soluciones digitales en el campo de desarrollo web full stack de creación de sitios y de aplicaciones web, empleando habilidades en HTML, CSS, JavaScript, usando librerías como React y Tailwind CSS para construir las necesidades cambiantes del mercado social tecnológico.
      <br>
      <br>
      En el backend tengo conocimientos desarrollando bases de datos con MongoDB, Postgresql, NodeJs, Express, creando servidores, construyendo Api’s rest, aplicando los metodos CRUD y desarollando rutas eficientes e implementando autenticaciones de registro e inicio de sesión.
      <br>
      <br>
      Mi enfoque proactivo y resiliencia en la resolución de desafíos me lleva a buscar soluciones efectivas, siempre en busca de crecimiento, aprendizaje continuo y ampliando constantemente mis habilidades técnicas.
      </p>
    </div>
  </section>
  <!-- Profile -->
  <section id="photo_about" class="color_b">
    <p class="text_developer_a">Desarrollador Web Full Stack</p>
    <div class="photo_container_a">
      <img src="images/profile.jpeg" alt="Personal photo" />
    </div>
      <h1 class="text_typing_a">Kevin Andrés Bolaños Narvavéz</h1>
  </section>
</section>
