<section id="about" class="text-center d-flex flex-row">
  <section class="color_b about_s">
    <h1>Acerca de mi</h1>
    <div class="about_p">
      <p>
        I am constantly training, specializing in the creation and digital
        solutions in the field of full stack web development for creating
        websites and web applications, using skills in HTML, CSS, JavaScript,
        using libraries such as React and Tailwind CSS to build the changing
        needs of the social technology market.
        <br />
        <br />
        In the backend I have knowledge developing databases with MongoDB,
        Postgresql, NodeJs, Express, creating servers, building REST APIs,
        applying CRUD methods and developing efficient routes and implementing
        registration and login authentications.
        <br />
        <br />
        My proactive approach and resilience in solving challenges leads me to
        seek effective solutions, always seeking growth, continuous learning and
        constantly expanding my technical skills.
      </p>
    </div>
    <div class="stack_container color_b">
      <div
        class="stack_b animate__animated animate__fadeInUp"
        style="animation-delay: 0.2s"
      >
        <img
          class="html"
          src="./images/svg/html.svg"
          alt="HTML Tecnology"
        />
      </div>
      <div
        class="stack_b animate__animated animate__fadeInUp"
        style="animation-delay: 0.4s"
      >
        <img
          class="css"
          src="./images/svg/css3.svg"
          alt="CSS Tecnology"
        />
      </div>
      <div
        class="stack_b animate__animated animate__fadeInUp"
        style="animation-delay: 0.6s"
      >
        <img
          class="git"
          src="./images/svg/git.svg"
          alt="Git Tecnology"
        />
      </div>
      <div
        class="stack_b animate__animated animate__fadeInUp"
        style="animation-delay: 0.8s"
      >
        <img
          class="javascript"
          src="./images/svg/javascript.svg"
          alt="JavaScript Tecnology"
        />
      </div>
      <div
        class="stack_b animate__animated animate__fadeInUp"
        style="animation-delay: 1s"
      >
        <img
          class="reactjs"
          src="./images/svg/reactjs.svg"
          alt="ReactJs Tecnology"
        />
      </div>
      <div
        class="stack_b animate__animated animate__fadeInUp"
        style="animation-delay: 1.2s"
      >
        <img
          class="tailwindcss"
          src="./images/svg/tailwindcss.svg"
          alt="TailwindCss Tecnology"
        />
      </div>
      <div
        class="stack_b animate__animated animate__fadeInUp"
        style="animation-delay: 1.4s"
      >
        <img
          class="nodejs"
          src="./images/svg/nodejs.svg"
          alt="Tecnology"
        />
      </div>
      <div
        class="stack_b animate__animated animate__fadeInUp"
        style="animation-delay: 1.6s"
      >
        <img
          class="postgresql"
          src="./images/svg/postgresql.svg"
          alt="PostgreSql Tecnology"
        />
      </div>
      <div
        class="stack_b animate__animated animate__fadeInUp"
        style="animation-delay: 1.8s"
      >
        <img
          class="mongodb"
          src="./images/svg/mongodb.svg"
          alt="MongoDB Tecnology"
        />
      </div>
    </div>
  </section>
  <!-- Profile -->
  <section id="photo_about" class="color_b">
    <p class="text_developer_a">Full Stack Web Developer</p>
    <div class="photo_container_a">
      <img src="./images/profile.jpeg" alt="Personal photo" />
    </div>
    <h1 class="text_typing_a">Kevin Andrés Bolaños Narvavéz</h1>
  </section>
</section>
