<section id="education" class="d-flex row">
  <h1 class="text-center">Educación</h1>
  <section class="w-50 education">
    <ul>
      <h2 class="ms-5 mt-4">Formación académica</h2>
      <li>
        <h3 class="d-flex align-items-center column-gap-3">
          <img class="icon_edu" src="./images/icons/view-timeline.png" />
          Auxiliar técnico en programación de software
        </h3>
        <div class="d-flex row">
          <div class="d-flex fs-3 justify-content-between">
            <p>Politécnico PIO</p>
            <p class="me-5">Septiembre 2024 - Actualidad</p>
          </div>
          <div class="d-flex mb-4 justify-content-end">
            <a
              class="button_edu d-flex align-items-center column-gap-3 justify-content-end"
              target="_blank"
              rel="noopener noreferrer"
              href="#"
            >
              <img class="icon_edu" src="./images//icons/badge.png" />
              <span>Proximamente</span>
            </a>
          </div>
        </div>
      </li>

      <li>
        <h3 class="d-flex align-items-center column-gap-3">
          <img
            class="icon_edu"
            src="./images/icons/view-timeline.png"
          />Especiallización backend con Java
        </h3>
        <div class="d-flex row">
          <div class="d-flex fs-3 justify-content-between">
            <p>Oracle next education - Alura latam</p>
            <p class="me-5">Junio 2024 - Actualidad</p>
          </div>
          <div class="d-flex mb-4 justify-content-end">
            <a
              class="button_edu d-flex align-items-center column-gap-3 justify-content-end"
              target="_blank"
              rel="noopener noreferrer"
              href="#"
            >
              <img class="icon_edu" src="./images/icons/badge.png" />
              <span>Proximamente</span></a
            >
          </div>
        </div>
      </li>

      <li class="">
        <h3 class="d-flex align-items-center column-gap-3">
          <img
            src="./images/icons/view-timeline.png"
            class="icon_edu"
          />Bootcamp talento digital - Habilidades sociemocionales
        </h3>
        <div class="d-flex row">
          <div class="d-flex fs-3 justify-content-between">
            <p>Pro talento</p>
            <p class="me-5">Marzo 2023 - Noviembre 2023</p>
          </div>
          <div class="d-flex mb-4 justify-content-end">
            <a
              class="button_edu d-flex align-items-center column-gap-3 justify-content-end"
              target="_blank"
              rel="noopener noreferrer"
              href="https://drive.google.com/file/d/1hTnPY2dipDhNZo-GRH-dhwd2g48LHh6K/view?usp=sharing"
            >
              <img class="icon_edu" src="./images//icons/badge.png" />
              <span>Certificado</span></a
            >
          </div>
        </div>
      </li>

      <li>
        <h3 class="d-flex align-items-center column-gap-3">
          <img
            src="./images/icons/view-timeline.png"
            class="icon_edu"
          />Desarrollo web full stack javascript MERN
        </h3>
        <div class="d-flex row">
          <div class="d-flex fs-3 justify-content-between">
            <p>Ada school</p>
            <p class="me-5">Marzo 2023 - Noviembre 2023</p>
          </div>
          <div class="d-flex mb-4 justify-content-end">
            <a
              class="button_edu d-flex align-items-center column-gap-3 justify-content-end"
              target="_blank"
              rel="noopener noreferrer"
              href="https://learn.ada-school.org/certifications/65451dc4831c9788c54e7f3e"
            >
              <img class="icon_edu" src="./images//icons/badge.png" />
              <span>Certificado</span></a
            >
          </div>
        </div>
      </li>
    </ul>
  </section>
  <!-- Cursos -->
  <section class="w-50 courses">
    <ul class="courses_scroll">
      <h2 class="ms-5 mt-4">Cursos adicionales</h2>
      <li>
        <h3 class="d-flex align-items-center column-gap-3">
          <img
            src="./images/icons/view-timeline.png"
            class="icon_edu"
          />Control de versiones
        </h3>
        <div class="d-flex row">
          <div class="d-flex fs-3 justify-content-between">
            <p>Coursera</p>
            <p class="me-5">Diciembre - 2023</p>
          </div>
          <div class="d-flex mb-4 justify-content-end">
            <a
              class="button_edu d-flex align-items-center column-gap-3 justify-content-end"
              target="_blank"
              rel="noopener noreferrer"
              href="https://coursera.org/share/28aebd6ee27f673c2dff82fe107cffe1"
            >
              <img class="icon_edu" src="./images//icons/badge.png" />
              <span>Certificado</span></a
            >
          </div>
        </div>
      </li>
      <li>
        <h3 class="d-flex align-items-center column-gap-3">
          <img src="./images/icons/view-timeline.png" class="icon_edu" />
          Introducción al desarrollo de front-end
        </h3>
        <div class="d-flex row">
          <div class="d-flex fs-3 justify-content-between">
            <p>Coursera</p>
            <p class="me-5">Noviembre - 2023</p>
          </div>
          <div class="d-flex mb-4 justify-content-end">
            <a
              class="button_edu d-flex align-items-center column-gap-3 justify-content-end"
              target="_blank"
              rel="noopener noreferrer"
              href="https://coursera.org/share/cdc35b9b295df9c7ee8ad1a5156ba950"
            >
              <img class="icon_edu" src="./images//icons/badge.png" />
              <span>Certificado</span></a
            >
          </div>
        </div>
      </li>
      <li>
        <h3 class="d-flex align-items-center column-gap-3">
          <img src="./images/icons/view-timeline.png" class="icon_edu" />
          Fundamentos de la ciberseguridad
        </h3>
        <div class="d-flex row">
          <div class="d-flex fs-3 justify-content-between">
            <p>Coursera</p>
            <p class="me-5">Octubre - 2023</p>
          </div>
          <div class="d-flex mb-4 justify-content-end">
            <a
              class="button_edu d-flex align-items-center column-gap-3 justify-content-end"
              target="_blank"
              rel="noopener noreferrer"
              href="https://coursera.org/share/502eb966559616bcd0a5710cd5468eed"
            >
              <img class="icon_edu" src="./images//icons/badge.png" />
              <span>Certificado</span></a
            >
          </div>
        </div>
      </li>
      <li>
        <h3 class="d-flex align-items-center column-gap-3">
          <img src="./images/icons/view-timeline.png" class="icon_edu" />
          Fundamentos del desarrollo web: Full Stack o Front-end
        </h3>
        <div class="d-flex row">
          <div class="d-flex fs-3 justify-content-between">
            <p>LinkdeIn</p>
            <p class="me-5">Agosto - 2023</p>
          </div>
          <div class="d-flex mb-4 justify-content-end">
            <a
              class="button_edu d-flex align-items-center column-gap-3 justify-content-end"
              target="_blank"
              rel="noopener noreferrer"
              href="https://www.linkedin.com/learning/certificates/fdf1e5b4898afa32a4d8de7632cad3c82625595294b762e10ff6fa1c74a96aee"
            >
              <img class="icon_edu" src="./images//icons/badge.png" />
              <span>Certificado</span></a
            >
          </div>
        </div>
      </li>
      <li>
        <h3 class="d-flex align-items-center column-gap-3">
          <img src="./images/icons/view-timeline.png" class="icon_edu" />
          Introducción a las habilidades profesionales en análisis de datos
        </h3>
        <div class="d-flex row">
          <div class="d-flex fs-3 justify-content-between">
            <p>LinkedIn</p>
            <p class="me-5">Julio - 2023</p>
          </div>
          <div class="d-flex mb-4 justify-content-end">
            <a
              class="button_edu d-flex align-items-center column-gap-3 justify-content-end"
              target="_blank"
              rel="noopener noreferrer"
              href="https://www.linkedin.com/learning/certificates/9ce8f551515b987ce8f89fdba7c9d5a2160e1d80477e8480c7685b3d686dac58"
            >
              <img class="icon_edu" src="./images//icons/badge.png" />
              <span>Certificado</span></a
            >
          </div>
        </div>
      </li>
      <li>
        <h3 class="d-flex align-items-center column-gap-3">
          <img src="./images/icons/view-timeline.png" class="icon_edu" />
          Protege tu Negocio: Ciberseguridad en el Teletrabajo
        </h3>
        <div class="d-flex row">
          <div class="d-flex fs-3 justify-content-between">
            <p>Google</p>
            <p class="me-5">Julio - 2023</p>
          </div>
          <div class="d-flex mb-4 justify-content-end">
            <a
              class="button_edu d-flex align-items-center column-gap-3 justify-content-end"
              target="_blank"
              rel="noopener noreferrer"
              href="https://skillshop.exceedlms.com/student/award/2sYGFaZuxcZBNpN9EHZ1rTYz"
            >
              <img class="icon_edu" src="./images//icons/badge.png" />
              <span>Certificado</span></a
            >
          </div>
        </div>
      </li>
    </ul>
  </section>
</section>
