<section id="projects__container">
  <h1 class="text-center">Projects</h1>

  <section>
    <h2 class="ms-5">Projects carried out</h2>
    <div
      class="carousel_container my-2 animate__animated animate__lightSpeedInRight"
      style="animation-delay: 0.2s"
    >
      <div class="carousel_wrapper">
        <div class="carousel_slide">
          <div class="color_b text-white card">
            <div class="overflow-hidden card_container">
              <img
                class="position-relative object-fit-cover top-0 w-100"
                src="./images/projects/first-cv.png"
                alt="Primer curriculum"
                loading="lazy"
              />
            </div>
            <div class="card-body">
              <p class="card-title">Primer CV</p>
              <p class="card-text">
                Build a basic CV, using HTML and CSS, interact with the front
                end, designing the basic structure that makes up a web page and
                creating styles with CSS.
              </p>
              <div class="container-buttons">
                <a
                  target="_blank"
                  rel="noopener noreferrer"
                  href="https://github.com/KevinBolanosDev/html_intro_cv"
                  class="global-button"
                  ><i></i>Go to Github</a
                >
                <a
                  target="_blank"
                  rel="noopener noreferrer"
                  href="https://kevinbolanosdev.github.io/html_intro_cv/"
                  class="global-button"
                  >Website</a
                >
              </div>
            </div>
          </div>
        </div>

        <div class="carousel_slide">
          <div class="color_b text-white card">
            <img
              class="img-fluid w-100"
              src="./images/projects/react-task-list.png"
              alt="Primer curriculum"
              loading="lazy"
            />
            <div class="card-body">
              <p class="card-title">Task list</p>
              <p class="card-text">
                CCreate a CRUD for frontend with the functions of listing,
                creating, editing, deleting tasks from a task list developed
                with React and Chakra UI
              </p>
              <div class="container-buttons">
                <a
                  target="_blank"
                  rel="noopener noreferrer"
                  href="https://github.com/KevinBolanosDev/my_react_tasks_list/tree/main"
                  class="global-button"
                  ><i></i>Go to Github</a
                >
                <a
                  target="_blank"
                  rel="noopener noreferrer"
                  href="https://app-to-do-list-chakra-ui.netlify.app/"
                  class="global-button"
                  >Website</a
                >
              </div>
            </div>
          </div>
        </div>

        <div class="carousel_slide">
          <div class="color_b text-white card">
            <img
              class="img-fluid w-100"
              src="./images/projects/hero-chakra-ui.png"
              alt="Banner con Chakra-ui"
              loading="lazy"
            />
            <div class="card-body">
              <p class="card-title">Chakra UI</p>
              <p class="card-text">
                Create a frontend banner for a bicycle advertisement, developed
                with React and Chakra UI
              </p>
              <div class="container-buttons">
                <a
                  target="_blank"
                  rel="noopener noreferrer"
                  href="https://github.com/KevinBolanosDev/chakra-ui"
                  class="global-button"
                  ><i></i>Go to Github</a
                >
                <a
                  target="_blank"
                  rel="noopener noreferrer"
                  href="https://project-bike-chakra-ui.netlify.app/"
                  class="global-button"
                  >Website</a
                >
              </div>
            </div>
          </div>
        </div>

        <div class="carousel_slide">
          <div class="color_b text-white card">
            <img
              class="img-fluid w-100"
              src="./images/projects/calculator.png"
              alt="Banner con Chakra-ui"
              loading="lazy"
            />
            <div class="card-body">
              <p class="card-title">Calculator</p>
              <p class="card-text">
                Build a calculator using basic operations, add, subtract, divide
                and multiply, developed with HTML, CSS and JavaScript.
              </p>
              <div class="container-buttons">
                <a
                  target="_blank"
                  rel="noopener noreferrer"
                  href="https://github.com/KevinBolanosDev/Calculadora_sencilla"
                  class="global-button"
                  ><i></i>Go to Github</a
                >
                <a
                  target="_blank"
                  rel="noopener noreferrer"
                  href="https://kevinbolanosdev.github.io/Calculadora_sencilla/"
                  class="global-button"
                  >Website</a
                >
              </div>
            </div>
          </div>
        </div>

        <div class="carousel_slide">
          <div class="color_b text-white card">
            <img
              class="img-fluid w-100"
              src="./images/projects/first-portfolio.png"
              alt="First Portfolio"
              loading="lazy"
            />
            <div class="card-body">
              <p class="card-title">First portfolio web</p>
              <p class="card-text">
                I developed my first web portfolio, with different sections, a
                nav to navigate between tabs, information about me, completed
                projects and a contact form.
              </p>
              <div class="container-buttons">
                <a
                  target="_blank"
                  rel="noopener noreferrer"
                  href="https://github.com/KevinBolanosDev/personal-cv"
                  class="global-button"
                  ><i></i>Go to Github</a
                >
                <a
                  target="_blank"
                  rel="noopener noreferrer"
                  href="https://kevin-bolanos-dev-cv.netlify.app/"
                  class="global-button"
                  >Website</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Frontend Mentor -->
  <section>
    <h2 class="ms-5">
      Frontend projects carried out by
      <a href="https://www.frontendmentor.io/">Frontend Mentor</a>
    </h2>
    <div
      class="carousel_container animate__animated animate__lightSpeedInLeft"
      style="animation-delay: 0.4s"
    >
      <div class="carousel_wrapper">
        <div class="carousel_slide">
          <div class="color_b text-white card">
            <img
              class="img-fluid w-100"
              src="./images/projects/blog-preview-card.png"
              alt="Banner con Chakra-ui"
              loading="lazy"
            />
            <div class="card-body">
              <p class="card-title">Blog preview card</p>
              <p class="card-text">
                A challenge for the Frontend mentor page, create the design of a
                card with relevant information.
              </p>
              <div class="container-buttons">
                <a
                  target="_blank"
                  rel="noopener noreferrer"
                  href="https://github.com/KevinBolanosDev/blog-preview-card-frontend-mentor"
                  class="global-button"
                  ><i></i>Go to Github</a
                >
                <a
                  target="_blank"
                  rel="noopener noreferrer"
                  href="https://kevinbolanosdev.github.io/blog-preview-card-frontend-mentor/"
                  class="global-button"
                  >Website</a
                >
              </div>
            </div>
          </div>
        </div>

        <div class="carousel_slide">
          <div class="color_b text-white card">
            <img
              class="img-fluid w-100"
              src="./images/projects/qr-code-component.png"
              alt="Banner con Chakra-ui"
              loading="lazy"
            />
            <div class="card-body">
              <p class="card-title">QR code component</p>
              <p class="card-text">
                A frontend mentor challenge, creating a card design to read QR
                code
              </p>
              <div class="container-buttons">
                <a
                  target="_blank"
                  rel="noopener noreferrer"
                  href="https://github.com/KevinBolanosDev/qr-code-frontend-mentor"
                  class="global-button"
                  ><i></i>Go to Github</a
                >
                <a
                  target="_blank"
                  rel="noopener noreferrer"
                  href="https://kevinbolanosdev.github.io/qr-code-frontend-mentor/"
                  class="global-button"
                  >Website</a
                >
              </div>
            </div>
          </div>
        </div>

        <div class="carousel_slide">
          <div class="color_b text-white card">
            <img
              class="img-fluid w-100"
              src="./images/projects/news-homepage.png"
              alt="Banner con Chakra-ui"
              loading="lazy"
            />
            <div class="card-body">
              <p class="card-title">News homepage</p>
              <p class="card-text">
                Create a news page with different sections, developed with
                React, TailwindCSS
              </p>
              <div class="container-buttons">
                <a
                  target="_blank"
                  rel="noopener noreferrer"
                  href="https://github.com/KevinBolanosDev/news-homepage-frontend-mentor"
                  class="global-button"
                  ><i></i>Go to Github</a
                >
                <a
                  target="_blank"
                  rel="noopener noreferrer"
                  href="https://news-homepage-mentor-solution.netlify.app/"
                  class="global-button"
                  ><i></i>Web site</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>
