<section class="projects__container">
    <h1 class="text-center">Proyectos</h1>

    <div>
      <h2 class="ms-5">
        Proyectos realizados en Bootcamp
      </h2>

      <section class="">
        <div class="d-flex row column-gap-5 row-gap-5 ms-4 my-5">
            <div class="color_b text-white card">
                <div class="overflow-hidden card_container">
                    <img class="position-relative object-fit-cover top-0 w-100" src="../images/projects/first-cv.png" alt="Primer curriculum" loading="lazy">
                </div>
                <div class="card-body">
                    <p class="card-title"><a target="_blank" href="https://kevinbolanosdev.github.io/html_intro_cv/">&lt; Primer CV &gt;</a></p>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur consequuntur obcaecati aut eveniet nisi nostrum?</p>
                    <a target="_blank" href="https://github.com/KevinBolanosDev/html_intro_cv" class="btn btn-primary"><i></i>Ir a Github</a>
                </div>
            </div>

            <div class="color_b text-white card">
                <img class="img-fluid w-100" src="../images/projects/react-task-list.png" alt="Primer curriculum" loading="lazy">
                <div class="card-body">
                    <p class="card-title"><a target="_blank" href="https://task-list-with-react-and-chakraui.netlify.app/">&lt; Lista de tareas &gt;</a></p>
                    <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore veritatis voluptas ducimus dolorem. Fugiat, amet.</p>
                    <a target="_blank" href="https://github.com/KevinBolanosDev/my_react_tasks_list/tree/main" class="btn btn-primary"><i></i>Ir a Github</a>
                </div>
            </div>

            <div class="color_b text-white card">
                <img class="img-fluid w-100" src="../images/projects/hero-chakra-ui.png" alt="Banner con Chakra-ui" loading="lazy">
                <div class="card-body">
                    <p class="card-title"><a target="_blank" href="https://project-bike-chakra-ui.netlify.app/">&lt; Chakra UI &gt;</a></p>
                    <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore veritatis voluptas ducimus dolorem. Fugiat, amet.</p>
                    <a target="_blank" href="https://github.com/KevinBolanosDev/chakra-ui" class="btn btn-primary"><i></i>Ir a Github</a>
                </div>
            </div>

            <div class="color_b text-white card">
                <img class="img-fluid w-100" src="../images/projects/calculator.png" alt="Banner con Chakra-ui" loading="lazy">
                <div class="card-body">
                    <p class="card-title"><a target="_blank" href="https://kevinbolanosdev.github.io/Calculadora_sencilla/">&lt; Calculadora &gt;</a></p>
                    <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore veritatis voluptas ducimus dolorem. Fugiat, amet.</p>
                    <a target="_blank" href="https://github.com/KevinBolanosDev/Calculadora_sencilla" class="btn btn-primary"><i></i>Ir a Github</a>
                </div>
            </div>
        </div>

    <h2 class="ms-5">
      Proyectos Frontend realizados de
      <a href="https://www.frontendmentor.io/">Frontend Mentor</a>
    </h2>

    <section class="">
        <div class="d-flex row column-gap-5 row-gap-5 ms-4 my-5">
            <div class="color_b text-white card">
                <img class="img-fluid w-100" src="../images/projects/blog-preview-card.png" alt="Banner con Chakra-ui" loading="lazy">
                <div class="card-body">
                    <p class="card-title"><a target="_blank" href="https://kevinbolanosdev.github.io/blog-preview-card-frontend-mentor/">&lt; Blog preview card &gt;</a></p>
                    <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore veritatis voluptas ducimus dolorem. Fugiat, amet.</p>
                    <a target="_blank" href="https://github.com/KevinBolanosDev/blog-preview-card-frontend-mentor" class="btn btn-primary"><i></i>Ir a Github</a>
                </div>
            </div>

            <div class="color_b text-white card">
                <img class="img-fluid w-100" src="../images/projects/qr-code-component.png" alt="Banner con Chakra-ui" loading="lazy">
                <div class="card-body">
                    <p class="card-title"><a target="_blank" href="https://kevinbolanosdev.github.io/qr-code-frontend-mentor/">&lt; QR code component &gt;</a></p>
                    <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore veritatis voluptas ducimus dolorem. Fugiat, amet.</p>
                    <a target="_blank" href="https://github.com/KevinBolanosDev/qr-code-frontend-mentor" class="btn btn-primary"><i></i>Ir a Github</a>
                </div>
            </div>

            <div class="color_b text-white card">
                <img class="img-fluid w-100" src="../images/projects/news-homepage.png" alt="Banner con Chakra-ui" loading="lazy">
                <div class="card-body">
                    <p class="card-title"><a target="_blank" href="https://news-homepage-mentor-solution.netlify.app/">&lt; News homepage &gt;</a></p>
                    <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore veritatis voluptas ducimus dolorem. Fugiat, amet.</p>
                    <a target="_blank" href="https://github.com/KevinBolanosDev/news-homepage-frontend-mentor" class="btn btn-primary"><i></i>Ir a Github</a>
                </div>
            </div>



    <div>
        <div class="projects__frontend--container bootcamp__homepage">
          <h3 class="projects__frontend--title no-margin"><a href=""></a></h3>
        </div>
        <h3 class="projects__bootcamp--github no-margin"><a href=""><i class="projects__icons uil uil-github"></i>Github</a></h3>
    </div>
</div>
</section>
  </section>
</section>